<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GUDLFT Registration</title>
</head>
<body>
    <h1>Welcome to the GUDLFT Registration Portal!</h1>
    Please enter your secretary email to continue:
    <form action="showSummary" method="post"> <!-- Creates a form that will send data to the server using the POST method when submitted. The data will be sent to the "showSummary" endpoint. -->
        <label for="email">Email:</label> <!-- Defines a label for the email input field for better accessibility. -->
        <input type="email" name="email" id=""/> <!-- Creates an input field designed for email addresses. The browser can validate the input to ensure it's formatted as an email address. -->
        <button type="submit">Enter</button> <!-- Creates a button that submits the form data to the server. -->
    </form>
</body>
</html>
